<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fly_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{125,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,63}}</string>
                <key>sourceSize</key>
                <string>{127,63}</string>
            </dict>
            <key>fly_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{125,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,63}}</string>
                <key>sourceSize</key>
                <string>{127,63}</string>
            </dict>
            <key>fly_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{125,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,63}}</string>
                <key>sourceSize</key>
                <string>{127,63}</string>
            </dict>
            <key>hold_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,351},{85,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{85,83}}</string>
                <key>sourceSize</key>
                <string>{89,85}</string>
            </dict>
            <key>hold_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,177},{87,85}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{87,85}}</string>
                <key>sourceSize</key>
                <string>{89,85}</string>
            </dict>
            <key>hold_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{85,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{85,83}}</string>
                <key>sourceSize</key>
                <string>{89,85}</string>
            </dict>
            <key>jump_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,88},{80,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,97}}</string>
                <key>sourceSize</key>
                <string>{80,97}</string>
            </dict>
            <key>run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,153},{93,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,89}}</string>
                <key>sourceSize</key>
                <string>{93,89}</string>
            </dict>
            <key>run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,153},{93,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,89}}</string>
                <key>sourceSize</key>
                <string>{93,89}</string>
            </dict>
            <key>run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{93,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,89}}</string>
                <key>sourceSize</key>
                <string>{93,89}</string>
            </dict>
            <key>run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,170},{93,87}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{93,87}}</string>
                <key>sourceSize</key>
                <string>{93,89}</string>
            </dict>
            <key>run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,88},{91,87}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{91,87}}</string>
                <key>sourceSize</key>
                <string>{93,89}</string>
            </dict>
            <key>speedup_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,67},{104,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{104,84}}</string>
                <key>sourceSize</key>
                <string>{106,84}</string>
            </dict>
            <key>speedup_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,67},{104,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{104,84}}</string>
                <key>sourceSize</key>
                <string>{106,84}</string>
            </dict>
            <key>speedup_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{104,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{104,84}}</string>
                <key>sourceSize</key>
                <string>{106,84}</string>
            </dict>
            <key>speedup_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{104,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{104,84}}</string>
                <key>sourceSize</key>
                <string>{106,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero.png</string>
            <key>size</key>
            <string>{512,438}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8023fc51674ff205b60c99099ac4447d$</string>
            <key>textureFileName</key>
            <string>hero.png</string>
        </dict>
    </dict>
</plist>
