<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>5/fly_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,63},{128,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,63}}</string>
                <key>sourceSize</key>
                <string>{128,63}</string>
            </dict>
            <key>5/fly_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,0},{128,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,63}}</string>
                <key>sourceSize</key>
                <string>{128,63}</string>
            </dict>
            <key>5/fly_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,0},{128,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,63}}</string>
                <key>sourceSize</key>
                <string>{128,63}</string>
            </dict>
            <key>5/hold_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,116},{105,126}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{105,126}}</string>
                <key>sourceSize</key>
                <string>{137,126}</string>
            </dict>
            <key>5/hold_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,0},{113,112}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{113,112}}</string>
                <key>sourceSize</key>
                <string>{137,126}</string>
            </dict>
            <key>5/hold_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{137,116}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,116}}</string>
                <key>sourceSize</key>
                <string>{137,126}</string>
            </dict>
            <key>5/jump_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,63},{107,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,126}}</string>
                <key>sourceSize</key>
                <string>{107,126}</string>
            </dict>
            <key>5/run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,221},{97,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,92}}</string>
                <key>sourceSize</key>
                <string>{97,92}</string>
            </dict>
            <key>5/run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,313},{95,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{95,90}}</string>
                <key>sourceSize</key>
                <string>{97,92}</string>
            </dict>
            <key>5/run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,255},{97,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{97,88}}</string>
                <key>sourceSize</key>
                <string>{97,92}</string>
            </dict>
            <key>5/run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,197},{97,90}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{97,90}}</string>
                <key>sourceSize</key>
                <string>{97,92}</string>
            </dict>
            <key>5/run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,296},{95,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{95,90}}</string>
                <key>sourceSize</key>
                <string>{97,92}</string>
            </dict>
            <key>5/speedup_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,170},{103,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,85}}</string>
                <key>sourceSize</key>
                <string>{103,85}</string>
            </dict>
            <key>5/speedup_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,126},{103,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,85}}</string>
                <key>sourceSize</key>
                <string>{103,85}</string>
            </dict>
            <key>5/speedup_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,211},{101,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{101,85}}</string>
                <key>sourceSize</key>
                <string>{103,85}</string>
            </dict>
            <key>5/speedup_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,112},{103,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,85}}</string>
                <key>sourceSize</key>
                <string>{103,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_pig.png</string>
            <key>size</key>
            <string>{506,403}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87c2d48fea4a0f42d68f5c5a2bb7778b$</string>
            <key>textureFileName</key>
            <string>hero_pig.png</string>
        </dict>
    </dict>
</plist>
