<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>about.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,118},{140,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,59}}</string>
                <key>sourceSize</key>
                <string>{140,61}</string>
            </dict>
            <key>more.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,59},{140,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,59}}</string>
                <key>sourceSize</key>
                <string>{140,61}</string>
            </dict>
            <key>name.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{322,181}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{322,181}}</string>
                <key>sourceSize</key>
                <string>{330,187}</string>
            </dict>
            <key>name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,181},{307,198}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,198}}</string>
                <key>sourceSize</key>
                <string>{309,200}</string>
            </dict>
            <key>shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,0},{140,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,59}}</string>
                <key>sourceSize</key>
                <string>{140,61}</string>
            </dict>
            <key>sound_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,177},{102,82}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{102,82}}</string>
                <key>sourceSize</key>
                <string>{102,86}</string>
            </dict>
            <key>sound_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,177},{102,82}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{102,82}}</string>
                <key>sourceSize</key>
                <string>{102,86}</string>
            </dict>
            <key>start.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,259},{193,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,78}}</string>
                <key>sourceSize</key>
                <string>{193,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>start.png</string>
            <key>size</key>
            <string>{506,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1ff5e5470ad74814a584897ede9308e$</string>
            <key>textureFileName</key>
            <string>start.png</string>
        </dict>
    </dict>
</plist>
