<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>earth0.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{30,21}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{30,21}}</string>
                <key>sourceSize</key>
                <string>{30,27}</string>
            </dict>
            <key>earth1.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,23},{30,19}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{30,19}}</string>
                <key>sourceSize</key>
                <string>{30,27}</string>
            </dict>
            <key>earth2.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,42},{28,21}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{28,21}}</string>
                <key>sourceSize</key>
                <string>{30,27}</string>
            </dict>
            <key>gold_circle0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{103,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,110}}</string>
                <key>sourceSize</key>
                <string>{103,110}</string>
            </dict>
            <key>gold_circle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{103,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,110}}</string>
                <key>sourceSize</key>
                <string>{103,110}</string>
            </dict>
            <key>gold_circle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{103,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,110}}</string>
                <key>sourceSize</key>
                <string>{103,110}</string>
            </dict>
            <key>heart0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{63,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{63,49}}</string>
                <key>sourceSize</key>
                <string>{83,49}</string>
            </dict>
            <key>heart1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,164},{59,49}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{59,49}}</string>
                <key>sourceSize</key>
                <string>{83,49}</string>
            </dict>
            <key>heart2.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,249},{73,41}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{73,41}}</string>
                <key>sourceSize</key>
                <string>{83,49}</string>
            </dict>
            <key>prop0.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,276},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{45,45}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>prop1.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,276},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{53,53}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>prop2.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,105},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{59,59}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>prop3.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,213},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>speed0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{62,74}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,3},{62,74}}</string>
                <key>sourceSize</key>
                <string>{86,82}</string>
            </dict>
            <key>speed1.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,181},{68,74}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{68,74}}</string>
                <key>sourceSize</key>
                <string>{86,82}</string>
            </dict>
            <key>speed2.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,105},{82,76}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{82,76}}</string>
                <key>sourceSize</key>
                <string>{86,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect.png</string>
            <key>size</key>
            <string>{255,331}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05f2154c6f473a8d45c7756e117d9165$</string>
            <key>textureFileName</key>
            <string>effect.png</string>
        </dict>
    </dict>
</plist>
