<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4/fly_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,0},{133,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,71}}</string>
                <key>sourceSize</key>
                <string>{133,71}</string>
            </dict>
            <key>4/fly_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,0},{133,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,71}}</string>
                <key>sourceSize</key>
                <string>{133,71}</string>
            </dict>
            <key>4/fly_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{133,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,71}}</string>
                <key>sourceSize</key>
                <string>{133,71}</string>
            </dict>
            <key>4/hold_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,175},{93,89}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{93,89}}</string>
                <key>sourceSize</key>
                <string>{97,93}</string>
            </dict>
            <key>4/hold_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,175},{93,85}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{93,85}}</string>
                <key>sourceSize</key>
                <string>{97,93}</string>
            </dict>
            <key>4/hold_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,333},{89,93}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{89,93}}</string>
                <key>sourceSize</key>
                <string>{97,93}</string>
            </dict>
            <key>4/jump_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,155},{83,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,109}}</string>
                <key>sourceSize</key>
                <string>{83,109}</string>
            </dict>
            <key>4/run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,0},{101,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,91}}</string>
                <key>sourceSize</key>
                <string>{101,91}</string>
            </dict>
            <key>4/run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,240},{99,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,91}}</string>
                <key>sourceSize</key>
                <string>{101,91}</string>
            </dict>
            <key>4/run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,333},{97,89}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{97,89}}</string>
                <key>sourceSize</key>
                <string>{101,91}</string>
            </dict>
            <key>4/run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,155},{97,91}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,91}}</string>
                <key>sourceSize</key>
                <string>{101,91}</string>
            </dict>
            <key>4/run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,155},{99,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{99,91}}</string>
                <key>sourceSize</key>
                <string>{101,91}</string>
            </dict>
            <key>4/speedup_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,93},{110,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{110,80}}</string>
                <key>sourceSize</key>
                <string>{112,80}</string>
            </dict>
            <key>4/speedup_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,73},{110,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{110,80}}</string>
                <key>sourceSize</key>
                <string>{112,80}</string>
            </dict>
            <key>4/speedup_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,73},{110,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{110,80}}</string>
                <key>sourceSize</key>
                <string>{112,80}</string>
            </dict>
            <key>4/speedup_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,73},{110,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{110,80}}</string>
                <key>sourceSize</key>
                <string>{112,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_horse.png</string>
            <key>size</key>
            <string>{506,430}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a13d784444d182e5f00f2dc71283bb4b$</string>
            <key>textureFileName</key>
            <string>hero_horse.png</string>
        </dict>
    </dict>
</plist>
