<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6/fly_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,0},{119,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{119,59}}</string>
                <key>sourceSize</key>
                <string>{121,61}</string>
            </dict>
            <key>6/fly_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,0},{119,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{119,59}}</string>
                <key>sourceSize</key>
                <string>{121,61}</string>
            </dict>
            <key>6/fly_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{119,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{119,59}}</string>
                <key>sourceSize</key>
                <string>{121,61}</string>
            </dict>
            <key>6/hold_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,251},{90,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{90,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>6/hold_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,341},{90,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{90,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>6/hold_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,341},{82,90}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{82,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>6/jump_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,77},{81,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,107}}</string>
                <key>sourceSize</key>
                <string>{81,107}</string>
            </dict>
            <key>6/run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,136},{96,93}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,93}}</string>
                <key>sourceSize</key>
                <string>{98,93}</string>
            </dict>
            <key>6/run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,158},{94,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{94,93}}</string>
                <key>sourceSize</key>
                <string>{98,93}</string>
            </dict>
            <key>6/run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,158},{96,91}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,91}}</string>
                <key>sourceSize</key>
                <string>{98,93}</string>
            </dict>
            <key>6/run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,136},{98,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,93}}</string>
                <key>sourceSize</key>
                <string>{98,93}</string>
            </dict>
            <key>6/run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,136},{96,93}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,93}}</string>
                <key>sourceSize</key>
                <string>{98,93}</string>
            </dict>
            <key>6/speedup_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,59},{112,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,77}}</string>
                <key>sourceSize</key>
                <string>{112,77}</string>
            </dict>
            <key>6/speedup_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,59},{110,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{110,77}}</string>
                <key>sourceSize</key>
                <string>{112,77}</string>
            </dict>
            <key>6/speedup_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,59},{112,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,77}}</string>
                <key>sourceSize</key>
                <string>{112,77}</string>
            </dict>
            <key>6/speedup_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,0},{112,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,77}}</string>
                <key>sourceSize</key>
                <string>{112,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_gold.png</string>
            <key>size</key>
            <string>{480,431}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:423cae190c2bc6611b6ff212a0ee06cc$</string>
            <key>textureFileName</key>
            <string>hero_gold.png</string>
        </dict>
    </dict>
</plist>
